<div id='container' ng-controller='ShortenController'>
  <div class='navigation'>
    <ul>
      <li><a ng-href='/#/links' class='links'>All Links</a></li>
      <li><a ng-href='/#/shorten' class='create'>Shorten</a></li>
    </ul>
  </div>
  <form name ="linkForm">
    <input class='text' type='url' name='url' ng-model='link.url' placeholder="http://" required>
    <input type='submit' value='Add Link' ng-click="addLink(); link.url=''" ng-disabled="linkForm.$invalid">
  </form>
  <p ng-show="linkForm.$invalid">Please enter a valid URL.</p>
</div>


