<div class='navigation'>
  <ul>
    <li><a ng-href='/#/links' class='links'>All Links</a></li>
    <li><a ng-href='/#/shorten' class='create'>Shorten</a></li>
  </ul>
</div>
<div id='container' ng-controller='LinksController'>
  <input name="filter" placeholder="Filter..." ng-model='filterQuery'></input>
  <div class='info link' ng-repeat="link in filteredLinks | orderBy: '-visits'">
    <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
    <div class='title'>{{link.title}}</div>
    <div class='original'>{{link.url}}</div>
    <a ng-href='{{link.baseUrl}}/{{link.code}}'>{{link.baseUrl}}/{{link.code}}</a>
  </div>
</div>