<div id='signin' ng-controller='AuthController'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin(); '>
    
    <input name='user' type='text' ng-model='user.username' required> 
    
    <input name='pass' type="password" ng-model='user.password' required>
    <button ng-disabled="signinForm.$invalid">signin</button>
  </form>
  <div ng-show='signinForm.$invalid'>Username and Password is required</div>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
